<ul class={{styles.chat-list}}>
  {{#if isLoading}}
    {{> loader}}
  {{else}}
    {{#each chats}}
      <li  {{#if this.isSelected}}  class="{{../styles.selected}} {{../styles.chat-card}}" {{else}} class={{../styles.chat-card}} {{/if}} id={{this.id}}>
        <div class={{../styles.author-avatar}}>
          {{> avatar src=this.avatar}}
        </div>
        <div class={{../styles.author-message}}>
          <div>
            {{> text ellipsis=1 text=this.author}}
          </div>
          <div>
            {{> text ellipsis=1 text=this.lastMessage}}
          </div>
        </div>
        <div class={{../styles.date-count}}>
          <div>
            {{this.date}}
          </div>
          {{#if this.count}} 
          <div class={{../styles.count}}>
              <div>{{this.count}}</div>
          </div>
          {{/if}}
        </div>
      </li>
    {{/each}}
  {{/if}}
</ul>