<div class={{styles.left}}>
  {{> profilePanel profilePanel}}
  <div id="chat-list" class={{styles.chats}}></div> 
</div>
<div class={{styles.right}}>
  <div id="current-chat" class={{styles.chat}}></div> 
  <div id="send-panel" class={{styles.send-panel}}></div> 
</div>
